.login-register-form{
    margin:auto;
    width:50%;
    padding: 25px;
    border-radius: 5px;
    border: thin solid lightgrey;
    background-color: white;
}

.hide {
    display: none;
}

.login-register-button{
    display:block;
    width:100%;
}